.title {
  font-size: 3rem;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4); /* Sombra del texto */
}

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #d5edc2, #d1ffaf);
  min-height: 100vh; /* Para que el contenedor ocupe al menos el 100% de la altura de la ventana */
  padding: 20px;
}

.row {
  display: flex;
  justify-content: center; /* Alinea las cards en el centro horizontal */
  flex-wrap: wrap; /* Permite que las cards se ajusten automáticamente en varias líneas */
  margin: -10px; /* Elimina el espacio entre las cards */
}
